@model MessagesChatVM
@{
    ViewData["Title"] = "Chat";
}

@foreach (var bubble in Model.Bubbles)
{
    @if (bubble.IsSent)
    {
        <h5>Skickat:</h5>
    }
    else
    {
        <h5>Mottaget:</h5>
    }
    @bubble.MemberImage
    <br />
    @bubble.MemberMessage
    <br />
    @bubble.PublishDate

}

<form asp-controller="Messages" asp-action="Chat" method="post">
<textarea asp-for="SendMessage"></textarea><br />
    <input type="submit" value="Skicka" />
</form>