@model MessagesInboxVM[]
@{
    ViewData["Title"] = "Inbox";
}

@foreach (var conversation in Model)
{
    @conversation.ProductName
    <br />
    @conversation.MemberName 

    @conversation.PublishDate
    <br />
    <a asp-controller="Messages" asp-action="Chat" asp-route-productid="@conversation.ProductId" class="btn btn-warning">Läs meddelande</a>
}

