<!DOCTYPE html>
<html>
<head>
    <title>Layout</title>
</head>
<body>
    <header>Lägg till vara  Mina varor  Profil</header>
    <main>@RenderBody()</main>
    <footer>Karta Sök vara Matkorg Meddelanden</footer>
</body>

</html>
