<!DOCTYPE html>
<html>
<head>
    <title>Layout</title>
</head>
<body>
    <header>
        <a asp-controller="Givers" asp-action="AddProduct">Lägg till vara</a>    
        <a asp-controller="Givers" asp-action="Products">Mina varor</a>
        <a asp-controller="Members" asp-action="Profile">Profil</a>
    </header>
    <main>@RenderBody()</main>
    <footer>
        <a asp-controller="Receivers" asp-action="Map">Karta</a>
        <a asp-controller="Receivers" asp-action="Search">Sök vara</a>
        <a asp-controller="Receivers" asp-action="Cart">Matkorg</a>
        <a asp-controller="Messages" asp-action="Inbox">Meddelanden</a>

    </footer>
</body>

</html>
