@model MembersIndexVM

<div class="row">
    <div class="col-12 mainLogo">
        <img class="center-block" src="~/images/logo.jpg" />
    </div>
</div>
<div class="row index">
    <div class="col px-3">

        <form asp-controller="Members" asp-action="Index" method="post" class="pt-3">
            <div class="form-group row">
                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                <div class="col">
                    <input id="inputEmail3" asp-for="Email" type="email" class="form-control emailInput" placeholder="E-mail">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Password" class="col-sm-2 col-form-label"></label>
                <div class="col">
                    <input asp-for="Password" type="password" class="form-control" id="inputPassword3" placeholder="Lösenord">
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button type="submit" class="btn productBtn indexBtn">Logga in</button>
                </div>
            </div>
        </form>
        @*<div class="row">
            <div class="col">
                <a class="btn btn-block btn-social btn-facebook">
                    <span class="fab fa-facebook"></span>
                    Logga in med Facebook
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-block btn-social btn-google">
                    <span class="fab fa-google"></span> Logga in med Google
                </a>
            </div>
        </div>*@
        <form asp-controller="Members" asp-action="Register" method="get">
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn productBtn indexBtn">Skapa konto</button>
                </div>
            </div>
        </form>
    </div>
</div>
