@model MembersProfileVM
@{
    ViewData["Title"] = "Profile";
}

<img src="/Profiles/@Model.Picture" id="output" />
<input type="hidden" asp-for="Picture" />
<form asp-controller="Members" asp-action="Profile" method="post" enctype="multipart/form-data">
    <label class="custom-file-upload">
        <input asp-for="FilePath" type="file" accept="image/*;capture=camera" value="Lägg till bild" onchange="loadFile(event)">
        <i class="fa fa-cloud-upload"></i> Lägg till bild
    </label>
    <br />
    <input asp-for="FirstName" type="text" placeholder="Förnamn" />
    <span asp-validation-for="FirstName"></span>
    <br />
    <input asp-for="LastName" type="text" placeholder="Efternamn" />
    <span asp-validation-for="LastName"></span>
    <br />
    <input asp-for="Email" type="text" placeholder="E-mail" />
    <span asp-validation-for="LastName"></span>
    <br />
    <label>@Model.ErrorMessage</label>
    <input asp-for="Street" type="text" placeholder="Gatuadress" />
    <span asp-validation-for="Street"></span>
    <br />
    <input asp-for="ZipCode" type="text" placeholder="Postnr" onkeyup="this.value=this.value.replace(/^(\d{3})(?=\d)/,'$1 ')" />
    <span asp-validation-for="ZipCode"></span>
    <br />
    <input asp-for="City" type="text" placeholder="Postort" />
    <span asp-validation-for="City"></span>
    <br />
    <input asp-for="Password" type="password" placeholder="Lösenord" />
    <span asp-validation-for="Password"></span>
    <br />
    <input asp-for="ConfirmPassword" type="password" placeholder="Bekräfta lösenord" />
    <span asp-validation-for="ConfirmPassword"></span>
    <br />

    <input type="submit" value="Spara" />
</form>
