@{
    ViewData["Title"] = "Register";
}
<a asp-controller="Members" asp-action="RegisterPrivate" class="ui-btn">Privatperson</a>

<a asp-controller="Members" asp-action="RegisterOrganization" class="ui-btn">Organisation</a>

<script>
    $(document).ready(function () {
        $("#back-button").show();
    });
</script>