@model ReceiversCartVM[]

@{
    ViewData["Title"] = "Cart";
}

<div id="cart"></div>

<script>
    $(document).on('pageinit', function () {
        if (navigator.geolocation) {
            console.log("navigator.geolocation");

            navigator.geolocation.getCurrentPosition(function (position) {
                console.log("navigator.geolocation.getCurrentPosition");

                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                $.ajax({
                    url: "/Receivers/GetCart",
                    data: pos,
                    type: "GET",
                    dataType: 'HTML',
                    cache: false,
                    success: function (response) {
                        console.log("Cart: success");
                        $("#cart").html(response);
                    },
                    error: function (response) {
                        console.log("Cart: error " + response.responseText);
                    }
                });
            })
        }
    });
</script>